<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-LeTao.Web-20150806174937;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    
    <add key="UserLoginPage" value="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxa1ddf49daf3a8856$redirect_uri=www.700195.com/oauth/VerificationPage$response_type=code$scope=snsapi_base$state=123#wechat_redirect${0}" />
    <add key="WXUserInfo" value="https://api.weixin.qq.com/sns/oauth2/access_token?appid=wxa1ddf49daf3a8856$secret=b3eab302feba8ea9e4c9e865bf801310$code={0}$grant_type=authorization_code" />
    
    <!--<add key="WXUserInfo" value="http://v.vobao.com/u/seller/WXApiTestGetOpenID?1=1" />
    <add key="UserLoginPage" value="http://v.vobao.com/u/seller/WXApiTestGetCode?1=1${0}" />-->

    <!--微信JS-SDK调用相关参数-->
    <add key="APPID" value="wxa1ddf49daf3a8856"/>
    <add key="AppSecret" value="b3eab302feba8ea9e4c9e865bf801310"/>
    <add key="AccessTokenURL" value="https://api.weixin.qq.com/cgi-bin/token"/>
    <add key="TicketURL" value="https://api.weixin.qq.com/cgi-bin/ticket/getticket"/>
    
    <!--数据库连接字符串-->
    <add key="ConnectionString" value="~/App_Data/LeTao.mdb" />
    <add key="SQLConnectionString" value="Server=qds174741177.my3w.com;Database=qds174741177_db;uid=qds174741177;pwd=lin8080901" />
    <!--每个用户每天限制投票次数-->
    <add key="NumberVotesPerDay" value="1" />
    <!--列表页每页显示人数-->
    <add key="NumberShowEachPage" value="10" />
    <!--首页Top 300 设置显示人数，默认300-->
    <add key="TopNumber" value="300" />
    <!--首页Top 300 设置每页显示人数，默认100-->
    <add key="TopEachPageNumber" value="100" />
    <!--报名每个人最多上传图片张数-->
    <add key="MaxPhotoUploadNumber" value="5" />
    <!--用户报名图片上传保存文件夹路径-->
    <add key="UploadImgPath" value="Images/" />
    <!--总访问量-->
    <add key="TotalVisitedNumber" value="9" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--<sessionState allowCustomSqlDatabase="true" mode="SQLServer" sqlConnectionString="Server=qds174741177.my3w.com;Database=qds174741177_db;uid=qds174741177;pwd=lin8080901" timeout="1740" />-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>